* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;

}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero-text h1 {
    margin-bottom: 5px;
    text-shadow: 3px 3px 5px #000;
    color: #ddd;
}

.hero-text span {
    text-transform: uppercase;
    color: #09f;
}

.section-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

section {
    scroll-margin-top: 70px;
}

nav {
    position: sticky;
    top: 0;
    height: 60px;
    line-height: 60px;
    background-color: #ddd;
    text-align: center;
    z-index: 10;
}

.burger-icon {
    display: block;
    margin-left: auto;
    padding: 0 30px;
    line-height: 60px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-items {
    display: none;
}

/* header */
.header {
    position: relative;
    background-image: url('../img/hero-small.jpg');
    height: 330px;
    background-size: cover;
    background-position: center;
}

main {
    margin: 80px 0;
}

.about-us-info {
    margin-bottom: 10px;
    padding: 0 20px;
}

.products {
    margin: 80px auto;
}

.product {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 16px;
}

.product h3 {
    text-transform: uppercase;
    transition: transform 0.3s;
}

.first-product {
    background-image: url('../img/fiat500.jpg');
}

.second-product {
    background-image: url('../img/fiat500C.jpg');
}

.third-product {
    background-image: url('../img/fiat500X.jpg');
}

.fourth-product {
    background-image: url('../img/fiatpanda.jpg');
}

.fifth-product {
    background-image: url('../img/fiatTIPO.jpg');
}

.six-product {
    background-image: url('../img/fiat124.jpg');
}


.first-product:hover h3 {
    transform: scale(1.6);
}

.second-product:hover h3 {
    transform: scale(1.6);
}

.third-product:hover h3 {
    transform: scale(1.6);
}

.fourth-product:hover h3 {
    transform: scale(1.6);
}

.fifth-product:hover h3 {
    transform: scale(1.6);
}

.six-product:hover h3 {
    transform: scale(1.6);
}

/* kontakt */
.contact {
    text-align: center;

}

.contact h3 {
    margin: 20px 0 5px;
    text-transform: uppercase;
}

/* footer */
footer {
    padding: 30px 10px;
    text-align: center;
    background-color: #ddd;
}

@media (min-width: 768px) {
    .burger-icon {
        display: none;
    }

    .nav-items {
        display: block;
    }

    .nav-items a {
        padding: 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #333;
    }

    .nav-items a:hover {
        color: #09f;

    }

    .header {
        background-image: url('../img/hero-big.jpg');
        height: 400px;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .product h3 {
        font-size: 24px;
    }

}

@media (min-width: 992px) {
    .products-box {
        font-size: 0;
    }

    .product {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .hero-text h1 {
        font-size: 42px;
    }

    .hero-text p {
        font-size: 20px;
    }
}